.save-btn {
    background-color: black;
    font-size: 23px;
    width: 140px;
    text-align: center;
    color: yellow;
    cursor: pointer;
    border-radius: 10px;
    padding: 3px;
    height:35px;
}

.save-btn:hover {
    color: whitesmoke;
}

table {
    width: 80%;
}
table td{
    padding:10px;
    font-weight:bolder;
    background-color:palegreen;
}

table td input {
    width: 80%;
    height: 30px;
    font-size:16px;
}
table td textarea {
    font-size:16px;
    overflow:scroll;
}
